
<%= form_with(model: task, class:"max-w-sm mx-auto") do |form| %>
  <% if task.errors.any? %>
    <div class="mb-5" role="alert">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700"%>
    <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="mb-5">
    <%= form.label :description, class: "block text-sm font-medium text-gray-700"%>
    <%= form.text_area :description, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>
 

  <div class="mb-5">
    <%= form.label :category_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
    <%= form.collection_select :category_id, @categories, :id, :name, prompt: "Select Category", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>
  <div class="mb-5">
    <%= form.label :status, class: "block text-sm font-medium text-gray-700", class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.select :status, Task.statuses.keys.map { |w| [w.humanize, w]}, promp: "Select Status", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
  </div>

  <div class="mb-5">
    <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
    <%= form.submit %>
    </button>

  </div>
<% end %>



